# Do not put actual passwords in this file
#
DEBUG=downroute-em-api:*
PORT=3000
DATABASE_URL=mongodb://127.0.0.1:27017/auth
DATABASE_TEST_URL=mongodb://127.0.0.1:27017/auth
MAILGUN_APIKEY=test
MAILGUN_DOMAIN=test
FROMMAILID=test
APP_KEY=test
APP_SECRET=test
API_AUTH_TOKEN=test
AUTH_TOKEN=test
SECRET=test
TABSCANNER_KEY=test
TABSCANNER_TESTMODE=test
BASE_URL=test
pageLink=test
TOKEN_SECRET=test
FIXER_accessKey=test
MINIO_BucketName=test
MINIO_END_POINT=test
MINIO_PORT=test
MINIO_useSSL=test
MINIO_accessKey=test
MINIO_SecretKey=test
DECIPHER_ALGORITHM=test
DECIPHER_ALGORITHM_KEY=test
STRIPE_API_KEY=test
STRIPE_PLAN_ID=test
SIMULATE_TIME=2592000000 
STRIPE_WEBHOOK_SECRET=test
REDIS_URL=test
EN_WORKSPACE_ID=test
TOMAILID=test
BLACKLISTED_NUMBERS=test
CUSTOMERIO_SITE_ID=test
CUSTOMERIO_API_KEY=test
supportContact=test
supportmail=test