<!DOCTYPE html>
<html>

<head>
  <title>Homepage</title>
  {{> link}}

  <link rel="stylesheet" type="text/css" href="/css/home_style.css">
</head>

<body style="  background-color: #cccccc;">

  <div class="w3-container" style="margin-top: 1%">
    <center><img src="/images/icon.png"></center>
  </div>

  <div class="container">
    <div class="w3-row w3-border" style="background-image: url('/images/image.jpg');  width: 100%;
    background-size: cover;margin-top:4%;">
      <div class="w3-container w3-half " style="height:500px">

      </div>
      <div class="w3-container w3-half " style="height:500px">
        <div class="container" style="background-color: rgb(255, 255, 255);width:80%; height:80%;  margin-top: 25px;
">
          <div class="center">

            <p class="a">Want to Register a User ?</p>

            <a href="register"><button class="w3-button w3-white w3-border w3-round-large c"><b>SIGN UP</b></button></a>

            <a href="login"><button class="w3-button w3-black w3-border w3-round-large c"><b>LOGIN</b></button></a>
          </div>
        </div>


      </div>
    </div>
  </div>
</body>

</html>