<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
</head>
<body>
    {{> header}}
    <p>Want to book a flight</p>
    <p>Search and find your flight</p>
    <p>Book them</p>
<a href='register'><button>Sign Up</button></a>
<a href='login'><button>Login</button></a>
     <footer>
    Copyright @ {{currentYear}}
</footer> 
</body>

</html>